@font-face {
    font-family: "Bebas Neue";
    src: url("BebasNeue.otf") format("opentype");
}

@font-face {
    font-family: Avenir;
    src: url("Avenir.ttc") format("truetype");
}

body {
        background: #133E4E url("") no-repeat center fixed;
        background-size: cover;
        border-bottom-color: #CFDC27;
        border-bottom-style: solid;
        border-bottom-width: 20px;
        }

        *{margin:0}

        a:link {color: #CFDC27; font-weight: 100;}
        a:active {color: #133E4E; font-weight: 100; }
        a:visited {color: #CFDC27; font-weight: 100; ;}
        a:hover {color: #CFDC27;text-decoration: none; font-weight: 50; }
    
    .topmenu {
        background: #133E4E;
        position: fixed;
        float: left;
        width: 250px;
        height: 100%;
        padding: 20px;
        z-index: 100;
        text-align: left;
        font-family: Avenir;
        color: white;
        font-size: 17px;
        letter-spacing: 3px;
        box-shadow: 3px 0px 10px rgba(0, 0, 0, .7);
        }
    .menuopt {
        margin-top: 0px;
        padding-left: 15px;
        padding-top: 12px;
        width: 229px;
        height: 50px;
        transition: all 1s;
        }
    .menuopt:hover {
        background: rgba(0, 0, 0, 0);
        margin-top: 0px;
        padding-left: 25px;
        padding-top: 12px;
        width: 229px;
        height: 50px;
        color: #CFDC27;
        border-right-color: #CFDC27;
        border-right-width: 5px;
        border-right-style: solid;
        transition: all 1s;
        }
    .menuopt a{
        color: white; font-weight: 100; text-transform: uppercase;
        }
    .menuopt:hover a{
        color: #CFDC27;
        }
    h1 {
        font-family: Avenir;
        font-size: 18px;
        font-weight: 400;
        color: #133E4E;
        letter-spacing: auto;
        }
    h5 {
        font-family: Avenir;
        color: grey;
        letter-spacing: 1px;
        font-size: 11px;
        line-height: 120%;
        font-weight: 100;
        }
    p {
        font-family: Avenir;
        color: rgba(18, 62, 78, 1);
        letter-spacing: 2px;
        font-size: 14px;
        line-height: 150%;
        font-weight: 600;
        }
    .boxcontent {
        background: transparent;
        float: left;
        position: relative;
        right: -249px;
        overflow: auto;
        padding: 0px;
        height: 100%;
        width: 80%;
        min-width: 760px;
        border-top-color: #CFDC27;
        border-top-style: solid;
        border-top-width: 20px;
        } 
    .boxheader{
        background: #fff;
        height: 425px;
        width: 750px;
        padding-top: 100px;
        text-align: center;
        font-family: Futura;
        color: white;
        letter-spacing: 3px;
        }
    .boxtitle {
        background: #fff; 
        height: 1px;
        width: 750px;
        margin: 0px;
        padding-top: 40px;
        float: left;
        text-align: center;
        font-family: Avenir;
        text-transform: uppercase;
        font-size: 45px;
        color: #133E4E;
        letter-spacing: 4px;
        overflow: hidden;
        }
      .boxtitle2 {
        background: #fff; 
        height: 190px;
        width: 750px;
        margin: 0px;
        padding-top: 80px;
        border-bottom-color: #CFDC27;
        border-bottom-style: solid;
        border-bottom-width: 20px;
        float: left;
        text-align: center;
        font-family: Avenir;
        text-transform: uppercase;
        font-size: 45px;
        color: #133E4E;
        letter-spacing: 4px;
        overflow: hidden;
        }
    .boxpreview {
        background: rgba(176, 225, 232, .8);
        height: 250px;
        width: 250px;
        margin: 0px;
        padding: 0px;
        float: left;
        text-align: center;
        font-family: "Bebas Neue";
        font-size: 28px;
        color: #133E4E;
        letter-spacing: 4px;
        overflow: hidden;
        -webkit-transition: all 1s;
       -o-transition:    all 1s;  
        transition:    all 1s;   
        
        }
     .boxpreview:hover {
        background: rgba(176, 225, 232, .8);
        height: 250px;
        width: 250px;
        margin: 0px;
        padding: 0px;
        cursor: pointer;
        transform: all 1s;
        float: left;
        text-align: center;
        font-family: "Bebas Neue";
        font-size: 28px;
        color: #133E4E;
        letter-spacing: 4px;
        overflow: hidden;
        }
    .description {
        background: rgba(176, 225, 232, .8);
        height: 250px;
        width: 250px;
        padding: 10px;
        padding-top: 95px;
        text-align: center;
        font-family: "Bebas Neue";
        color: #133E4E;
        font-size: 28px;
        line-height: 90%;
        letter-spacing: 3px;
        float: left;
        position: absolute;
        z-index: 200;
        opacity: 0;
        -webkit-transition: all .5s;
       -o-transition:    all .5s;  
        transition:    all .5s;   
        box-shadow: 0px 5px 15px rgba(0, 0, 0, .6);
        }  
    .boxpreview:hover .description{
        opacity: 1;
        }
    .boxpreview:hover .description2{
        opacity: 1;
        }
    .modal-dialog{
        width: 80%;
        opacity: 1;
        }
    .modal-content{
        border-radius: 0;
        padding: 15px;
        font-family: Avenir;
        color: rgba(18, 62, 78, .8);
        letter-spacing: 1px;
        font-size: 12px;
        line-height: 125%;
        font-weight: 500;
        }
    .modaltext {
        background: white; 
        height: 100%;
        width: 200px;
        margin: 0px;
        padding: 15px;
        position: fixed;
        font-family: Avenir;
        color: rgba(18, 62, 78, 1);
        letter-spacing: 1px;
        font-size: 12px;
        line-height: 125%;
        font-weight: 100;
        letter-spacing: .5px;
        overflow: hidden;
        }
    .carousel-control.right {
        background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, 0) 100%)
    }
    .carousel-control.left {
        background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, 0) 100%)
    }