@font-face {
    font-family: "DIN";
    src: url("DIN.ttf") format("truetype");
}

@font-face {
    font-family: "Futura";
    src: url("Futura.ttf") format("truetype");
}

/* 
=======================================================
 
                       SIDEBAR

=======================================================
*/


/* small screen triple bar button */
.navbar-custom .navbar-toggle {
  margin: 15px 15px 15px 5px;
  border: none;
}

@media only screen and (max-width: 991px) {
  .sidebar h2 {
    display: none;
  }

  .navbar-custom .navbar-brand  {
    display: none;
  }

  .sidebar {
    background-color: #fac60e;
    position: fixed;  
  }

  #custom-collapse{
      overflow: hidden;
  }
    
  ul.nav a {
    color: #fff;
    border-top: 1px solid #fff; 
  }

   ul.nav a:hover {
    color: #fff; 
  }
    
  ul.nav a img {
    display: none;
  }

  .sidebar span.navmenu-item {
    visibility: visible;
    opacity: 1;
  }
}

@media only screen and (min-width: 992px) {
  /* sidebar hover effects */
  .sidebar:hover {
    width: 250px;
  }

  .sidebar:hover .navmenu-item{
    visibility: visible;
    opacity: 1;
    left: 80px;
    padding-top: 0px;
    -webkit-transition: all 70ms ease-in-out;
    -moz-transition: all 70ms ease-in-out;
    -o-transition: all 70ms ease-in-out;
    -ms-transition: all 70ms ease-in-out;
    transition: all 70ms ease-in-out;
  }

  .sidebar {
    width: 80px;
    -webkit-transition: width 400ms ease-in-out, opacity 400ms ease-in-out;
    -moz-transition: width 400ms ease-in-out, opacity 400ms ease-in-out;
    -o-transition: width 400ms ease-in-out, opacity 400ms ease-in-out;
    -ms-transition: width 400ms ease-in-out, opacity 400ms ease-in-out;
    transition: width 400ms ease-in-out, opacity 400ms ease-in-out;
  }

  .container-fluid.wrapper {
    left: 80px;
    margin-right: 80px;
  }


}


/* sidebar buttons */

.sidebar .navmenu-item {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  top: 16px;
  left: 0px;
  opacity: 0;
  visibility: hidden;
}

.sidebar li:nth-child(1) .navmenu-item {
  -webkit-transition: all 200ms ease-in-out 100ms;
  -moz-transition: all 200ms ease-in-out 100ms;
  -o-transition: all 200ms ease-in-out 100ms;
  -ms-transition: all 200ms ease-in-out 100ms;
  transition: all 200ms ease-in-out 100ms;
}
.sidebar li:nth-child(2) .navmenu-item {
  -webkit-transition: all 200ms ease-in-out 150ms;
  -moz-transition: all 200ms ease-in-out 150ms;
  -o-transition: all 200ms ease-in-out 150ms;
  -ms-transition: all 200ms ease-in-out 150ms;
  transition: all 200ms ease-in-out 150ms;
}
.sidebar li:nth-child(3) .navmenu-item {
  -webkit-transition: all 200ms ease-in-out 200ms;
  -moz-transition: all 200ms ease-in-out 200ms;
  -o-transition: all 200ms ease-in-out 200ms;
  -ms-transition: all 200ms ease-in-out 200ms;
  transition: all 200ms ease-in-out 200ms;
}
.sidebar li:nth-child(4) .navmenu-item {
  -webkit-transition: all 200ms ease-in-out 250ms;
  -moz-transition: all 200ms ease-in-out 250ms;
  -o-transition: all 200ms ease-in-out 250ms;
  -ms-transition: all 200ms ease-in-out 250ms;
  transition: all 200ms ease-in-out 250ms;
}
.sidebar li:nth-child(5) .navmenu-item {
  -webkit-transition: all 200ms ease-in-out 300ms;
  -moz-transition: all 200ms ease-in-out 300ms;
  -o-transition: all 200ms ease-in-out 300ms;
  -ms-transition: all 200ms ease-in-out 300ms;
  transition: all 200ms ease-in-out 300ms;
}

.container-fluid.wrapper {
  padding: 0px;
}

/* name on sidebar */
.sidebar h2 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ed1c24;
  font-size: 13px;
  position: absolute;
  bottom: 250px;
  left: -189px;
  width: 450px;
  margin: 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.sidebar:hover h2{
    color: #fac60e;
}

#details-images {
    background: #fff;
    padding: 15px;
}

#details-images img{
    padding-bottom: 15px;
    width: 100%;
}

#details-left {
  padding: 20px;
  border-right: 10px solid #42c0ae;
  background: #fff;
}

.backbtn-details {
    font-size: 18px;
    font-weight: 400;
}

.backbtn-details img {
    padding-right: 10px;
    height: 30px;
}

#details-title {
    padding-top: 40px;
}

@media only screen and (min-width: 992px) {
  #details-page .row {
    overflow: hidden;
  }

  #details-left {
    overflow: auto;
  }

  #details-images {
    overflow: auto;
  }
}

body, html {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
}


/* 
=======================================================
 
                       MODALS

=======================================================
*/

@media only screen and (max-width: 991px) {
  .modal-content {
    top: 60px;
  }
}

@media only screen and (min-width: 768px) {
  .modal-dialog { 
    width: 80%;
  }
}
