@import '../../../_breakpoints.scss';

@include breakpoint(lg) {
  .projectContainer {
    width: 95%;
  }
}

.projectContainer {
  margin: auto;
  padding: 32px;
}

.projecttitle {
  padding-left: 20px;
}

.projecttags {
  padding-left: 20px;
}
