@import '../../../_breakpoints.scss';

.projectRow {
  align-items:top;
  display:flex;
  flex-direction: column;
}

.projectNode {
  padding-bottom: 10px;
}

@include breakpoint(md) {
  .projectRow {
    flex-direction: row;
  }
  .projectNode {
    padding-right: 15px;
    padding-bottom: 15px;
  }
}
