@import '../../../_breakpoints.scss';

.projectContainer {
  margin: auto;
}

@include breakpoint(lg) {
  .projectContainer {
    width: 90%;
  }
}


.projecttitle {
  margin-top: 35px;
}

.projecttags {
  margin-bottom: 40px;
}

@include breakpoint(md) {
  .projecttags {
    font-size: 14px;
  }
}
