@import '../../_breakpoints.scss';

ul.navbar-nav {
  align-items: center;
  display: flex;
  list-style: none;
  margin-top: 30px;
  font-size: 10px;
}

li.nav-item {
  display: flex;
  padding: 4px;
  width: 30%;
  text-transform: uppercase;
  letter-spacing: 3px;
}

li.nav-item-right {
  padding: 4px;
  width: 30%;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 3px;
}

li.nav-item.logo {
  justify-content: center;
}
