@import '../../../../_breakpoints.scss';

.projectImage {
  width: 100%;
}

.projectheader {
  font-size: 20px;
  font-family: 'dinmedium-webfont';
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.5;
  font-weight: bold;
  padding-right: 10px;
}

.whitetransparent {
  background-color: rgba(255, 255, 255, 0.5);
}
