@import '../../../../_breakpoints.scss';

.projectImage {
  width: 100%;
}

.body ul {
  padding-left: 16px;
}

.projectheader {
  font-size: 20px;
  font-family: 'dinmedium-webfont';
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.5;
  font-weight: bold;
  padding-right: 10px;
}

@include breakpoint(md) {
.whitebg {
  background-color: rgba(255, 255, 255, 1);
  padding-left: 20px;
  padding-top: 10px;
}
}

@include breakpoint(lg) {
.whitebg {
  background-color: none;
  padding: 0px;
}
}
