@import '../../../../_breakpoints.scss';

.projectImage {
  width: 100%;
}

@include breakpoint(md) {
  .projectheader {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
  }
}

.projectheader {
  font-size: 10px;
}
