@import './_breakpoints.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@include breakpoint(md) {
  body {
    background-image:
      url("./leafy-left.png"),
      url("./leafy-right.png"),;
    background-repeat: no-repeat;
    background-position:
      top 160px left 0px,
      top 130px right 0px,;
    background-size:
      140px,
      150px,;
  }
}

@include breakpoint(lg) {
  body {
    background-image:
      url("./leafy-left.png"),
      url("./leafy-right.png"),;
    background-repeat: no-repeat;
    background-position:
      top 20px left 0px,
      top 100px right 0px,;
    background-size:
      140px,
      150px,;
  }
}

@font-face {
  font-family: 'dinmedium-webfont';
  src: local('dinmedium-webfont'), url(./fonts/dinmedium-webfont.woff) format('woff');
}

@font-face {
  font-family: 'futura-webfont';
  src: local('futura-webfont'), url(./fonts/futura-webfont.woff) format('woff');
}
