@import '../../../_breakpoints.scss';

.footerstyle {
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 10px;
  line-height: 1.8;
}

.scrollup {
  margin: auto;
  margin-top: 35px;
  height: 28px;
  width: 28px;
  padding: 5px;
  background: transparent;
  border: 1px solid;
  outline-color: transparent;
  outline-style: none;
}

.scrollup:hover {
  background: #AED56F;
  color: #fff;
}
