@import '../../../_breakpoints.scss';

.heroheight{
  height: 370px;
  padding-top: 200px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-image: url("./flower-me.png");
  background-repeat: no-repeat;
  background-size: 220px;
  background-position: top center;
}

.heroheight h1 {
  font-family: 'dinmedium-webfont';
}


@include breakpoint(md) {
  .heroheight {
    padding: 100px;
    height: 330px;
    margin-bottom: 30px;
    background-size: 300px;
    background-position: left;
  }
}

@include breakpoint(lg) {
  .heroheight {
    background-size: 360px;
  }
}
