@import '../../../_breakpoints.scss';

.filters {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

.filters li {
  display: inline-block;
}

.filters li > button {
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 11px;
  color: #111;
  padding: 8px 15px 7px 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.filters li > button.current {
  background: #606BA5;
  color: #fff;
  outline-color: transparent;
  outline-style: none;
}
