@import '../../../_breakpoints.scss';

.worksGridWrapper {
  margin-left: -8px;
  margin-right: -8px;
  padding: 8px 0;
}

.workWrapper {
  position: relative;
}

.workItem {
  padding: 8px 8px;
  position: relative;
  overflow: hidden;
  width: 25%;
}

.workThumbnail:after {
  position: absolute;
  display: block;
  content: '';
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  -webkit-transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
  -moz-transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
  -o-transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
  -webkit-transform: translateY(99%);
  -moz-transform: translateY(99%);
  -o-transform: translateY(99%);
  transform: translateY(99%);
}

.workItem:hover .workThumbnail:after {
  background: #42c0ae;
  -webkit-transform: translateY(00%);
  -moz-transform: translateY(00%);
  -o-transform: translateY(00%);
  transform: translateY(00%);
  opacity: 0.9;
}

.workItem img {
  height: auto;
  width: 100%;
}

.workCaption {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  z-index: 1;
  opacity: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.workItem:hover .workCaption {
  opacity: 1;
}

.workTitle {
  color: #fff;
  letter-spacing: 4px;
  font-weight: 500;
  font-size: 25px;
  opacity: 0;
  margin: 0 0 15px;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  -moz-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  -o-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.workItem:hover .workTitle {
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.workCategory {
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  opacity: 0;
  margin: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  -moz-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  -o-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.workCategory button {
  background:none;
  color: #fff;
}

.workItem:hover .workCategory {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.workItem:hover .workTitle,
.workItem:hover .workCategory {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

@media (max-width: 1199px) {
  .workItem {
    width: 33.3%;
  }
}

@media (max-width: 991px) {
  .workItem {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .workItem {
    width: 100%;
  }
}
