@import '../../../_breakpoints.scss';

.heroheight{
  height: 390px;
  padding-top: 240px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-image: url("./flower-me.png");
  background-repeat: no-repeat;
  background-size: 240px;
  background-position: top center;
}

.heroheight h1 {
  font-family: 'dinmedium-webfont';
}


@include breakpoint(md) {
  .heroheight {
    padding-top: 300px;
    height: 410px;
    margin-bottom: 30px;
    background-size: 300px;
  }
}

@include breakpoint(lg) {
  .heroheight {
    height: 350px;
    padding-top: 100px;
    background-size: 360px;
    background-position: top 20px left 0px;
  }
}
